body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

.follow{
    color: rgb(252, 252, 252, 0.5);
    margin-top: -120px;
    margin-left: 1300px;
}



header{
    text-align: center;
    background-color: black;
    color: red;
    font-size: 90px;
    font-style: italic;
 
}

nav {
    background-color: black;
    overflow: hidden;
    margin-top: 95px;
    top: 150px;

 }
nav a {
    float: left;
    display: block;
    color: red;
    text-align: center;
    padding: 18px 120px;
    text-decoration: none;
    font-size: 17px;
    background-color: black;
    border-top: dotted rgba(125, 0, 0, 0.69);
}

nav a:hover {
    background-color: #ffffff;
    color: blue
}
nav a.active {
    background-color: rgb(181, 50, 50);
    color: black;
}


hr.solid {
    border-top: 2px solid #ffffff;
    margin-top: 10px;
    margin-bottom: auto;
}

.New{
    color: red;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

h1 {
    text-decoration: underline;
}

h2 {
    text-align: left;
    font-size: 25px;
}

/*Slide show stuff*/
*{
box-sizing: border-box;
}

.Slideshow-container {
    max-width: 100px;
    margin-right: 500px;
   
}

.mySlides {
    display: none;
    width: 50%;
    height: 50%;
    margin-left: 185px;
    margin-top: 50px;
    
}

.mySlidesfade {
    margin-left: -200px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgb(252, 252, 252, 0.5);
}
 
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #f200008d;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: .5s;
  }
  
  /*Makes the photos fit to screen with size of container*/
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  .flexbox-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    color: white;
  }
.flex-grow {
    background-color:  #f1f1f1;
    padding: 10%;
    flex: 50%;
}


@media (max-width: 800px) {
    .flex-grow{
        flex: 100%;
    }
}